*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 800px;
    margin: 0 auto;
    font-family: Vivo Sans, monospace;
    line-height: 1.6;

    display: flex;
    flex-direction: column;

    background-color: #A8CBE1;
}

@font-face {
    font-family: 'Vivo Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Vivo Sans'), url('vivoSansGlobal-Light.ttf') format('truetype');
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    width: 100%;
    height: 50px;
    background-color: #2A5B79;
    color: white;

    margin-bottom: 20px;
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 100%;
}


section {
    width: 100%;
    border-radius: 5px;
    background-color: #ECF4F8;
    padding: 30px 10px;
    box-shadow: 5px 5px 10px 5px #729eb3;
}

p {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

a:hover {
    color: #A8CBE1;
}

/***************************бургер-меню**************************/


.burger:hover .burger_link {
    background-color: #A8CBE1;
}

/*************************modal window navigation****************/

.modal_nav {
    position: absolute;
    top: 50px;
    background-color: #2A5B79;
    width: 100%;

    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 0 10px 0;


}

.border {
    border: 1px solid white;
    width: 100%;
    margin: 0;
}

.modal_nav.active {
    display: flex;
    animation: slideDown 0.3s ease-in-out;
}

.modal_nav.closing {
    animation: slideUp 0.3s ease-in-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-20px);
        opacity: 0;
    }
}

/**************************анимация для бургер-кнопки******************************/

/* From Uiverse.io by Cevorob */
.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}