*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 800px;
    margin: 0 auto;
    font-family: Vivo Sans, monospace;
    line-height: 1.6;

    display: flex;
    flex-direction: column;

    background-color: #A8CBE1;
}

@font-face {
    font-family: 'Vivo Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Vivo Sans'), url('vivoSansGlobal-Light.ttf') format('truetype');
}

.header {
    display: flex;
    align-items: center;

    width: 100%;
    height: 50px;
    background-color: #397BA3;
    color: white;

    margin-bottom: 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    gap: 20px;
}

.nav_menu {
    display: flex;
    gap: 10px;
}

section {
    width: 100%;
    border-radius: 5px;
    background-color: #ECF4F8;
    padding: 30px 10px;
    box-shadow: 5px 5px 10px 5px #729eb3;
}

p {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #A8CBE1;
}