*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 800px;
    margin: 0 auto;
    font-family: Vivo Sans, monospace;
    line-height: 1.6;

    display: flex;
    flex-direction: column;

    background-color: #A8CBE1;
}

@font-face {
    font-family: 'Vivo Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Vivo Sans'), url('vivoSansGlobal-Light.ttf') format('truetype');
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    width: 100%;
    height: 50px;
    background-color: #2A5B79;
    color: white;

    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 100%;
}


section {
    width: 100%;
    border-radius: 5px;
    background-color: #ECF4F8;
    padding: 30px 10px;
    box-shadow: 5px 5px 10px 5px #729eb3;
}

p {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

a:hover {
    color: #A8CBE1;
}

/***************************бургер-меню**************************/

.burger_menu {
    width: 25px;
    height: 23px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background: none;
    border: none;
    box-sizing: border-box;
}

.burger_link {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.burger_menu:hover .burger_link {
    background-color: #A8CBE1;
}

/*************************modal window navigation****************/

.modal_nav {
    position: absolute;
    top: 50px;
    background-color: #2A5B79;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 0 10px 0;
}

.border {
    border: 1px solid white;
    width: 100%;
    margin: 0;
}

.modal_nav {
    display: none;
}

.modal_nav.active {
    display: flex;
}

